<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
<header class="menu-principal" th:fragment="navigation">
    <a class="logo" th:href="@{/index}">
        <img src="../assets/logo.png" alt="logo">
        <h1>JUNK FOLLOW-UP</h1>
    </a>
    <nav class="menu">
        <ul>
            <li>
                <a th:class="${ativa == 'compra'} ? 'item-menu ativa' : 'item-menu'"
                   th:href="@{/compra}">Compra</a>
            </li>
            <li>
                <a th:class="${ativa == 'venda'} ? 'item-menu ativa' : 'item-menu'"
                   th:href="@{/venda}">Venda</a>
            </li>
            <li>
                <a th:class="${ativa == 'estoque'} ? 'item-menu ativa' : 'item-menu'"
                   th:href="@{/estoque}">Estoque</a>
            </li>
            <li>
                <a th:class="${ativa == 'funcionarios'} ? 'item-menu ativa' : 'item-menu'"
                   th:href="@{/funcionarios}">Funcionários</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>