<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <aside class="menu-lateral" th:fragment="aside-venda">
        <ul>
            <a class="lat-item" th:href=" @{/jfu/compra}">
                <li>
                    <img src="../assets/carrinho.png" alt="icone de venda">
                    <span>Adicionar Venda</span>
                </li>
            </a>
            <a class="lat-item" th:href=" @{/jfu/compra}">
                <li>
                    <img src="../assets/clientes.png" alt="icone de cliente">
                    <span>Adicionar cliente</span>
                </li>
            </a>
            <a class="lat-item" th:href=" @{/jfu/compra}">
                <li>
                    <img src="../assets/compra.png" alt="icone de consulta">
                    <span>Consultar Venda</span>
                </li>
            </a>
        </ul>
    </aside>
</body>

</html>