<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compra</title>
</head>
<body>
<aside class="menu-lateral" th:fragment="aside-compra">
    <ul>
        <a class="lat-item" th:href=" @{/compras/add}">
            <li>
                <img src="../assets/carrinho.png" alt="icone de compra">
                <span>Adicionar Compra</span>
            </li>
        </a>
        <a class="lat-item" th:href=" @{/fornecedores}">
            <li>
                <img src="../assets/clientes.png" alt="icone de cliente">
                <span>Manter fornecedor</span>
            </li>
        </a>
        <a class="lat-item" th:href=" @{/compra}">
            <li>
                <img src="../assets/compra.png" alt="icone de consulta">
                <span>Consultar compra</span>
            </li>
        </a>
    </ul>
</aside>
</body>
</html>