<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <aside class="menu-lateral" th:fragment="aside-estoque">
        <ul>
            <a class="lat-item" th:href=" @{/materiais/add}">
                <li>
                    <img src="../assets/novoMaterial.png" alt="icone de adicionar">
                    <span>Adicionar Material</span>
                </li>
            </a>
            <a class="lat-item" th:href=" @{/materiais}">
                <li>
                    <img src="../assets/img-tabela.png" alt="icone de tabela">
                    <span>Tabela de preços</span>
                </li>
            </a>
<!--            <a class="lat-item" th:href=" @{/index/compra}">-->
<!--                <li>-->
<!--                    <img src="../assets/img-pdf.png" alt="icone de pdf">-->
<!--                    <span>Relatório de Estoque</span>-->
<!--                </li>-->
<!--            </a>-->
        </ul>
    </aside>
</body>

</html>