.menu-principal {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #d9d9d9;
}

.logo {
    display: flex;
    margin: .3125rem .625rem;
    padding: .3125rem;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
}

.logo h1{
    margin-left: .625rem;
    font-size: 2rem;
}

.menu ul{
    margin-left: 15vw;
    display: flex;
    gap: .625rem;
    flex-shrink: none;
}

.item-menu {
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    padding: .625rem;
}

.item-menu:after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.item-menu:hover:after {
  transform: scaleX(1);
}

.ativa {
    font-weight: 700;   
    color: #0446F0;
}
.ativa::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0446F0;;
    transform: scaleX(1);
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

.menu-lateral{
    padding: 0;
    margin: 0;
    height: calc(100vh - 80px);
    background-color: #d9d9d9;
}

.menu-lateral ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.875rem;
}

.lat-item{
    padding: 1rem .625rem;
    font-size: .875rem;
    background-color: #d9d9d9;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
}

.lat-item:hover{
    background-color: #c9c3c3;
}

.menu-lateral a span{
    display: block;
}