.conteudo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
    padding: 30px;
    box-sizing: border-box;
}

.adicionar h1{
    margin-bottom: 16px;
    font-weight: 700;
}

.caixa {
    margin-bottom: 20px;  
}

.caixa label {
    display: block;
    margin-bottom: .375rem;
}

.caixa input, select {
    padding: .375rem 0;
    width: 100%;
    border: 1px solid #ccc;   
    border-radius: 5px;
}

.btn-add-mat {
    background-color: #66e5a7;
    width: 100%;
    border: none;
    padding: .625rem 1.25rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.25rem;
}

.btn-add-mat:hover {
    background-color: #52d495;
}

.btn-registrar {
    
    margin-top: 1rem;
    width: 100%;
    padding: 0.625rem;
    background-color: #74719e;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.25rem;
}

.btn-registrar:hover {
    background-color: #585586;
}

.total {
    width: 100%;
    margin-top: 3.125rem;
    line-height: normal;
    padding: 20px 0 20px 10px;
    background-color: #d9d9d9;
    border-radius: 10px;
    text-align: left;
}

.total h2 {
    margin: 0;
}

.mat-registrados {
    padding: 10px;
}

.tabela {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}

.tabela th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #000;
}

.tabela th {
    background-color: #d9d9d9;
    font-weight: bold;
    font-size: 1.25rem;
}