body {
    padding: 0;
    margin: 0;
    background-color: #e5e4e2;
    background-image: url(../assets/bg-login.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 16px;
    box-sizing: border-box;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
    font-weight: 400;
    color: #000;
}

ul, li{
    list-style-type: none;
    text-decoration: none;
    display: inline;
    padding: 0;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    margin: 0;
}
