<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cadastrar Material</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1 style="font-family: 'Arial'">Cadastrar Fornecedor</h1>
<div th:if="${mensagem}" th:text="${mensagem}"></div>
<form th:action="@{cadastrar/salvar}" th:object="${material}" method="post">
  <label>Nome do Fornecedor:</label><input type="text" th:field="*{nome}"><br>
  <label>Preço:</label><input type="number" step="0.01" th:field="*{preco}"><br>
  <button type="submit">Add</button>
</form>
<a th:href="@{/materiais}">Voltar para lista de materiais</a>
</body>
</html>