<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/registrar.css">
  <link rel="stylesheet" href="../css/adicionar-material.css">
  <title>Menu</title>
</head>

<body>
<header th:replace="~{fragments/header-menu :: navigation}"></header>
<div class="conteudo">
    <aside th:replace="~{fragments/menu-compra :: aside-compra}"></aside>
  <main>
    <div th:class="${falha} ? 'alerta falha fadeOut' : 'alerta falha'">
      <img src="../assets/erro.svg" alt="Erro"> Ocorreu um erro ao atualizar!
    </div>
    <form class="adicionar" th:object="${fornecedor}" th:action="@{/fornecedores/{fornecedorId}edit(fornecedorId = ${fornecedorId})}" method="post">
      <h1>Atualizar Fornecedor</h1>
      <div class="caixa">
        <label for="id">Id</label>
        <input class="nao-editavel" id="id" type="text" th:value="${fornecedorId}" readonly>
      </div>
      <div class="caixa">
        <label for="fornecedor">Nome</label>
        <input id="fornecedor" type="text" th:field="*{nome}" autofocus>
        <div class="erro" th:errors="*{nome}"></div>
      </div>
      <button class="btn-add-mat" type="submit">Atualizar Fornecedor</button>
    </form>
</main>
</div>
</body>

</html>