<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/detalhes.css">
  <title>Menu</title>
</head>

<body>
<header th:replace="~{fragments/header-menu :: navigation}"></header>
<div class="conteudo">
  <aside th:replace="~{fragments/menu-compra :: aside-compra}"></aside>

  <main>
    <div class="infos">
      <div class="container">
        <div class="info">
          <h1 class="titulo"th:text="'Compra #' + ${idCompra}"></h1>
          <div class="infoss">
            <h2 class="titulo2">Fornecedor: <span th:text=" ${fornecedor}"></span></h2>
            <h2 class="titulo2">Data: <span th:text="${data}"></span></h2>
            <h2 class="titulo2">Total: <span th:text="'R$: ' + ${total}"></span></h2>
          </div>
          <div class="botoes">
            <a class="btn" th:href="@{/compras/{id}gerar-pdf(id = ${idCompra})}">Emitir recibo</a>
            <a class="btn btn-excluir" th:href="@{/compras/{id}delete-confirm(id = ${idCompra})}"> Excluir</a>
          </div>
        </div>
      </div>
      <div th:class="${sucesso} ? 'alerta sucesso fadeOut' : 'alerta sucesso'">
        <img src="../assets/ok.svg" alt="Erro"> Compra adicionada com sucesso!
      </div>
    </div>
    <table class="tabela">
      <thead>
      <tr>
        <th class="col-1">Material</th>
        <th>Quantidade</th>
        <th>Preço por kg</th>
        <th class="col-n">Total</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="f : ${fornecimentos}">
        <td scope="row" th:text="${f.material.nome}"></td>
        <td th:text="${f.quantidade} + ' kg'"></td>
        <td th:text="'R$ ' + ${f.preco}"></td>
        <td th:text="'R$ ' + ${f.total}"></td>
      </tr>
      </tbody>
    </table>
  </main>

</div>
</body>

</html>