<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/estoque.css">
  <link rel="stylesheet" href="../css/modal.css">
  <title>Consultar Estoque</title>
</head>

<body>
<header th:replace="~{fragments/header-menu :: navigation}"></header>
<div class="conteudo">
  <aside th:replace="~{fragments/menu-estoque :: aside-estoque}"></aside>
  <main>
    <section class="principal">
      <header class="header-consulta">
        <h1>Estoque</h1>
        <div class="header-btn">
          <form class="barra-de-pesquisa" type="get">
            <input name="searchKey" type="text" class="pesquisa-txt" placeholder="Procurar...">
            <button type="submit" class="pesquisa-btn">
              <img src="../assets/pesquisa.svg" alt="Lupa" height="20" width="20">
            </button>
          </form>
          <a th:href="@{/locais/add}" class="btn-novo">Adicionar Local</a>
        </div>
      </header>
      <table class="tabela">
        <thead>
        <tr>
          <th class="col-1">Código</th>
          <th>Local</th>
          <th>Material</th>
          <th>Quantidade</th>
          <th>Status</th>
          <th class="col-n"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="local : ${locais}">
          <td scope="row" th:text="${local.id}"></td>
          <td th:text="${local.nome}"></td>
          <td th:text="${local.material.nome}"></td>
          <td th:text="${local.quantidade} + ' kg'"></td>
          <td th:text="${local.status}"></td>
          <td class="td-icons">
            <a th:href="@{/locais/{localId}edit(localId = ${local.id})}" class=".icon-edit">
              <img class="svg-icon" src="/assets/lapis.svg" alt="editar">
            </a>
            <a th:href="@{/locais/{localId}delete-confirm(localId = ${local.id})}" class-=".icon-edit">
              <img class="svg-icon" src="/assets/lixeira.svg" alt="excluir">
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>
<div th:class="${status == 'mensagem'} ? 'janela visivel' : 'janela'">
  <div class="modal">
    <a th:href="@{/locais}"  class="fechar">X</a>
    <h1 th:text="${mensagem}"></h1>
  </div>
</div>
<div th:class="${status == 'excluir'} ? 'janela visivel' : 'janela'">
  <div class="modal">
    <a th:href="@{/locais}" class="fechar">X</a>
    <h1>Deseja mesmo excluir <span th:text="${localNome}"></span>?</h1>
    <div class="botoes">
      <a class="sim" th:href="@{/locais/{localId}delete(localId = ${localId})}">Excluir</a>
      <a class="nao" th:href="@{/locais}">Cancelar</a>
    </div>
  </div>
</div>
</body>

</html>