<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/registrar-compra.css">
  <link rel="stylesheet" href="../css/adicionar-material.css">
  <title>Menu</title>
</head>

<body>
<header th:replace="~{fragments/header-menu :: navigation}"></header>
<div class="conteudo">
  <aside th:replace="~{fragments/menu-estoque :: aside-estoque}"></aside>

  <main>
    <div th:class="${sucesso} ? 'alerta sucesso fadeOut' : 'alerta sucesso'">
      <img src="../assets/ok.svg" alt="Erro"> Local adicionado com sucesso!
    </div>
    <form class="adicionar" th:object="${local}" th:action="@{/locais/add}" method="post">
      <h1>Adicionar Local</h1>
      <div class="caixa">
        <label for="local">Local</label>
        <input id="local" type="text" th:field="*{nome}" autofocus>
        <div class="erro" th:errors="*{nome}"></div>
      </div>
      <div class="caixa">
        <label for="select-material">Material:</label>
        <select id="select-material" th:field="*{material}" value="0">
          <option selected value="0">Selecione um material</option>
          <option th:each="material : ${materiais}" th:value="${material.id}" th:text="${material.nome}">
        </select>
        <div class="erro" th:errors="*{material}"></div>
      </div>
      <button class="btn-add-mat" type="submit">Adicionar Local</button>
    </form>
  </main>

</div>
</body>

</html>