<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/registrar-compra.css">
  <link rel="stylesheet" href="../css/adicionar-material.css">
  <title>Atualizar Material</title>
</head>

<body>
<header th:replace="~{fragments/header-menu :: navigation}"></header>
<div class="conteudo">
    <aside th:replace="~{fragments/menu-estoque :: aside-estoque}"></aside>
  <main>
    <div th:class="${falha} ? 'alerta falha fadeOut' : 'alerta falha'">
      <img src="../assets/erro.svg" alt="Erro"> Ocorreu um erro ao atualizar!
    </div>
    <form class="adicionar" th:object="${material}" th:action="@{/materiais/{materialId}edit(materialId = ${materialId})}" method="post">
      <h1>Atualizar Material</h1>
      <div class="caixa">
        <label for="id">Id</label>
        <input class="nao-editavel" id="id" type="text" th:value="${materialId}" readonly>
      </div>
      <div class="caixa">
        <label for="material">Nome</label>
        <input id="material" type="text" th:field="*{nome}" autofocus>
        <div class="erro" th:errors="*{nome}"></div>
      </div>
      <div class="caixa">
        <label for="preco">Preço por kg</label>
        <input id="preco" step="0.01" type="number"  th:field="*{preco}">
        <div class="erro" th:errors="*{preco}"></div>
      </div>
      <button class="btn-add-mat" type="submit">Atualizar Material</button>
    </form>
</main>
</div>
</body>

</html>