<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/menu.css">
  <link rel="stylesheet" href="../css/registrar-compra.css">
  <link rel="stylesheet" href="../css/adicionar-material.css">
  <title>Adicionar Funcionarios</title>
</head>

<body>
<header th:replace="~{fragments/header-menu :: navigation}"></header>
<div class="conteudo">
  <aside th:replace="~{fragments/menu-funcionarios :: aside-funcionarios}"></aside>

  <main>
    <div th:class="${sucesso} ? 'alerta sucesso fadeOut' : 'alerta sucesso'">
      <img src="../assets/ok.svg" alt="Erro"> Funcionário adicionado com sucesso!
    </div>
    <form class="adicionar" th:object="${funcionario}" th:action="@{/funcionarios/add}" method="post">
      <h1>Adicionar Funcionário</h1>
      <div class="caixa">
        <label for="funcionario">Nome</label>
        <input id="funcionario" type="text" th:field="*{nome}" autofocus>
        <div class="erro" th:errors="*{nome}"></div>
      </div>
      <div class="caixa">
        <label for="usuario">Usuário</label>
        <input id="usuario" type="text" th:field="*{usuario}" autofocus>
        <div class="erro" th:errors="*{usuario}"></div>
      </div>
      <div class="caixa">
        <label for="senha">Senha</label>
        <input id="senha" type="text" th:field="*{senha}" autofocus>
        <div class="erro" th:errors="*{senha}"></div>
      </div>
      <button class="btn-add-mat" type="submit">Adicionar Funcionário</button>
    </form>
  </main>

</div>
</body>

</html>