<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>
<body>
<div id="login">
    <form class="conteudo" th:action="@{/login}" method="post">
        <div class="form-header">
            <h1>Login</h1>
        </div>
        <div class="form-main">
            <div class="erro" th:if="${param.error}">
                Usuário e senha inválidos</div>
            <div class="erro" th:if="${param.logout}">
                Você saiu da sua conta</div>
            <div class="barra">
                <label for="usuario">Usuário:</label>
                <input type="text" id="usuario" name="username" autocomplete="off" placeholder="Usuário">
            </div>
            <div class="barra">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="password" autocomplete="off" placeholder="Senha">
            </div>
        </div>
        <div class="form-footer">
<!--            <div class="container">-->
<!--                <div>-->
<!--                    <label class="lembrar">Lembrar de mim-->
<!--                        <input type="checkbox" name="lembrar-login" id="lembrar">-->
<!--                        <span class="checkmark"></span>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="alinhar">-->
<!--                    <a href="/">Esqueceu a senha?</a>-->
<!--                </div>-->
<!--            </div>-->
            <button class="btn_entrar" type="submit" >Entrar</button>
        </div>
    </form>
</div>
</body>
</html>