<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/menu.css">
    <title>Menu</title>
</head>

<body>
    <header>
        <a class="logo" href="/html/menu.html">
            <img src="../assets/logo.png" alt="logo">
            <h1>JUNK FOLLOW-UP</h1>
        </a>
        <nav class="menu">
            <ul>
                <li><a class="item-menu" href="#">Compra</a></li>
                <li><a class="item-menu" href="#">Venda</a></li>
                <li><a class="item-menu" href="#">Estoque</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <aside class="menu-lateral">
            <ul>
                <li>
                    <a href="#">
                        <img src="../assets/carrinho.png" alt="icone de compra">
                        <span>Adicionar Compra</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assets/clientes.png" alt="icone de cliente">
                        <span>Adicionar cliente</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../assets/compra.png" alt="icone de consulta">
                        <span>Consultar compra</span>
                    </a>
                </li>
            </ul>
        </aside>
        <section>

        </section>
    </main>
</body>

</html>